<ion-header>
  <ion-toolbar>
    <ion-title text-center class="oleo-script">
      Baltagram
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-tabs>
    <ion-tab tabIcon="home" [root]="photosTab"></ion-tab>
    <ion-tab tabIcon="search" disable [root]="profileTab"></ion-tab>
    <ion-tab tabIcon="add-circle" class="add-tab-icon" [root]="profileTab"></ion-tab>
    <ion-tab tabIcon="heart" [root]="profileTab"></ion-tab>
    <ion-tab tabIcon="contact" [root]="profileTab"></ion-tab>
  </ion-tabs>
</ion-content>